.home-page {
	.hero {
		background: no-repeat top right;
		background-size: cover;
		padding-bottom: 80px;
		@media (min-width: 768px) {
			background-image: url(/assets/images/hero.png);
			background-size: 100%;
		}
		@media (min-width: 1140px) {
			background-size: cover;
			padding-bottom: 200px;
		}
		h1 {
			margin-bottom: 16px;
			span {
				font-size: 24px;
				display: block;
				margin-bottom: 8px;
				color: #BCEEA2;
				text-shadow: 2px 0 0 #398150, -2px 0 0 #398150, 0 2px 0 #398150, 0 -2px 0 #398150, 1px 1px #398150, -1px -1px 0 #398150, 1px -1px 0 #398150, -1px 1px 0 #398150;
			}
			strong {
				display: block;
				font-size: 48px;
				line-height: 56px;
			}
		}
		h2 {
			font-size: 20px;
			margin-bottom: 34px;
		}
		.btn-light {
			margin-right: 34px;
		}
	}
	
	.top-exclusive {
		padding: 0 12px 25px;
		@media (min-width: 768px) {
			padding: 0 12px 40px;
		}
		.grid-row {
			padding-bottom: 40px;
			overflow: hidden;
			display: block;
			grid-gap: 22px;
			@media (min-width: 768px) {
				display: grid;
				grid-template: auto / calc(40% - 8px) calc(60% + 8px);
			}
			@media (min-width: 1024px) {
				padding-left: 64px;
			}
		}
		
		.slide-wrapper {
			width: 100%;
			.slick-slide {
				display: flex;
				flex-direction: column;
				padding: 0 10px;
				justify-content: space-between;
				> div {
					margin-bottom: 15px;
					@media (min-width: 768px) {
						margin-bottom: 0;
					}
				}
			}
			.slick-slider,
			.slick-list,
			.slick-track {
				margin-bottom: 0;
				height: 100%;
			}
			.slick-list {
				margin: 0 -10px;
				@media (min-width: 768px) {
					margin: 0
				}
			}
			.slick-dots {
				bottom: -34px;
				li {
					button {
						background: $light;
						border: 2px solid #398150;
						border-radius: 50%;
						width: 12px;
						height: 12px;
						&::before {
							content: '';
							display: none;
						}
					}
					&.slick-active {
						button {
							background: #85D399;
						}
					}
				}
			}
			
			figure,
			.image {
				height: 100%;
			}
		}
		
		figure {
			position: relative;
			.image {
				display: block;
			}
			&.first {
				margin-bottom: 15px;
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
				p {
					font-size: 18px;
					@media (min-width: 1024p) {
						font-size: 36px;
					}
				}
				span {
					font-size: 14px;
					@media (min-width: 1024p) {
						font-size: 24px;
					}
				}
			}
			figcaption {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 0 0 20px 20px;
				background: rgba(55, 60, 62, .8);
				text-align: center;
				color: $light;
				padding: 16px 20px;
				p {
					margin-bottom: 8px;
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;
					cursor: pointer;
				}
				span {
					cursor: pointer;
				}
			}
		}
		
		.image {
			padding-top: calc(5 / 4 * 100%);
			border-radius: 20px;
			background: $grey4 no-repeat top center;
			background-size: cover;
			cursor: pointer;
			position: relative;
		}
	}
	
	.nav-filter {
		padding-bottom: 16px;
		margin-bottom: 20px;
		display: flex;
		overflow: auto;
		.nav-item {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $light;
			margin-right: 12px;
			height: 36px;
			border: 1px solid #81D099;
			border-radius: 50px;
			padding: 6px 16px;
			text-align: center;
			font-weight: 600;
			cursor: pointer;
			svg {
				margin-right: 14px;
			}
			&.active {
				background-image: linear-gradient(to right, #B4EAA1 5%, #85D399);
			}
			&:hover {
				&:not(.active) {
					background: #ECF2EA;
					color: #85D399;
				}
			}
			&:first-child {
				flex: 0 0 36px;
				padding: 8px 0;
				svg {
					margin: 0;
				}
			}
		}
	}
}

.top-exclusive-page {
	.hero-unit {
		margin-bottom: 24px;
		@media (min-width: 768px) {
			margin-bottom: 64px;
		}
	}
	.user-info {
		box-shadow: inset 14px 14px 12px rgba(57, 129, 80, 0.1);
		border-radius: 100px 12px 12px 100px;
		background: $grey4;
		margin-bottom: 28px;
		.ava {
			display: inline-block;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: $grey3;
			margin-right: 24px;
			@media (min-width: 768px) {
				width: 120px;
				height: 120px;
			}
		}
		p {
			span, b {
				display: block;
				@media (min-width: 768px) {
					font-size: 20px;
				}
			}
			span {
				text-transform: uppercase;
			}
		}
	}
}

.detail-page {
	.main-content {
		align-items: self-start;
		margin-bottom: 24px;
		@media (min-width: 768px) {
			margin-bottom: 42px;
		}
		.image {
			padding-top: 100%;
			border-radius: 12px;
			background: $grey3;
		}
		.content {
			h2 {
				font-size: 18px;
				margin-bottom: 16px;
				@media (min-width: 768px) {
					font-size: 24px;
					margin-bottom: 22px;
				}
			}
			p {
				text-align: justify;
				@media (min-width: 768px) {
					font-size: 20px;
				}
			}
			.btn {
				width: 100%;
				margin: 24px 0 32px 0;
				font-size: 16px;
				@media (min-width: 768px) {
					font-size: 20px;
				}
				svg {
					margin: 0 10px;
				}
				b {
					color: $dark;
				}
			}
		}
		.detail {
			span,
			b {
				display: block;
				@media (min-width: 768px) {
					font-size: 18px;
				}
			}
			span {
				text-transform: uppercase;
			}
		}
		.description {
			.detail {
				margin-bottom: 16px;
				@media (min-width: 768px) {
					margin-bottom: 24px;
				}
			}
		}
		.creator {
			margin-bottom: 28px;
			.ava {
				width: 50px;
				height: 50px;
				background: $grey3;
				margin-right: 12px;
				border-radius: 50%;
			}
		}
	}
	.list-explore {
		> h4 {
			font-size: 26px;
			color: #398150;
			margin-bottom: 24px;
			@media (min-width: 768px) {
				font-size: 36px;
			}
		}
	}
}
